<ion-grid class="h-full w-full control-grid">
  <ion-row class="h-full">
    <ion-col  class="h-full" >
      <div class="humidity-section section-control" >
        <div class="component-control">
          <app-thermometer [wExecution]="wExecution"></app-thermometer>
        </div>
      </div>
      <div class="speedometer-section section-control">
        <div class="component-control">
          <app-speedometer [wExecution]="wExecution" [speed]="speed"></app-speedometer>
        </div>
      </div>
    </ion-col>
    <ion-col size="4">
      <app-volume
        [leftControlActive]="leftControlActive"
        [rightControlActive]="rightControlActive"
        [wExecution]="wExecution"
        [maxCurrentVolume]="maxVolume"
        [currentVolume]="volume"
        [currentPh]="currentPh"
        (onLeftChange)="toggleValvulaIzquierda()"
        (onRightChange)="toggleValvulaDerecha()"
      >
    </app-volume>
    </ion-col>
    <ion-col >
      <div class="flow-section section-control" [ngClass]="wFlowAlert ?'bg-fade-red': ''">
        <div class="component-control" [ngClass]="wFlowAlert ?'bg-fade-red': ''">
          <app-water-flow [realWaterflow]="waterFlow" [wExecution]="wExecution"></app-water-flow>
        </div>
      </div>
      <div class="pressure-section section-control" [ngClass]="pressureAlert ?'bg-fade-red': ''">
        <div class="component-control" [ngClass]="pressureAlert ?'bg-fade-red': ''">
          <app-pressure [real_pressure]="pressure" [wExecution]="wExecution"></app-pressure>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
