<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1>Login</h1>
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Control Fitosanitario</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="formData" (submit)="login()">
            <div class="form-group">
              <label for="code">Código/DNI</label>
              <input formControlName="code" type="number" class="form-control" placeholder="000000">
            </div>
            <div class="form-group">
              <label for="supervisor">Supervisor</label>
              <select formControlName="supervisor" class="form-control">
                <option value="0">-- Sin supervisor --</option>
                <option *ngFor="let sup of supervisors" value="{{sup.id}}">{{ sup.fullname }}</option>
              </select>
            </div>
            <button type="button" class="btn btn-primary" (click)="login()">Login</button>
            <!-- <p-messages></p-messages> -->
          </form>
        </div>
      </div>
    </div>
  </div>
</div>


<div>
  <!-- Loading spinner o indicador aquí (si es necesario) -->
</div>
