:host{
  width: 100%;
  height: 100%;
}

ion-modal {
  --width: 75%;
  --height: 95%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);

  ::part(backdrop) {
      background: rgb(0, 0, 0);
      opacity: 1;
  }
  ion-toolbar {
      --background: rgb(14 116 144);
      --color: white;
  }
}

.select-placeholder {
  opacity: 0.6;
}

