

<!-- <div class="container fullscreen">
  <div class="w-6 bg-transparent absolute menu-buttons">
    <h1 style="color:black" class="text-center">Menu</h1>
    <button pButton label="Acerca de la aplicación (1)" class="btn btn-block" (click)="openAplicationData()"></button>
    <button pButton label="Valores de trabajo (2)" class="btn btn-block" (click)="openAplicationValues()"></button>
    <button pButton label="Sincronizar datos primarios" class="btn btn-block" (click)="syncPrimaryTables()"></button>
    <button pButton label="Configuraciones generales" class="btn btn-block" (click)="generalSettings()"></button>
  </div>
</div>

<ion-loading #loader [message]="loading_message" spinner="circles"></ion-loading> -->

<!-- <div class="container fullscreen">
  <div class="w-6 bg-transparent absolute menu-buttons">
    <h1 style="color: black" class="text-center">Menu</h1>
    <button pButton label="Acerca de la aplicación (1)" class="btn btn-block" (click)="openAplicationData()"></button>
    <button pButton label="Valores de trabajo (2)" class="btn btn-block" (click)="openAplicationValues()"></button>
    <button pButton label="Sincronizar datos primarios" class="btn btn-block" (click)="syncPrimaryTables()"></button>
    <button pButton label="Configuraciones generales" class="btn btn-block" (click)="generalSettings()"></button>
  </div>
</div>

<p-overlayPanel #loaderPanel [showCloseIcon]="true" [dismissable]="false">
  <div class="text-center">
    <p-progressSpinner></p-progressSpinner>
    <p>{{ loading_message }}</p>
  </div>
</p-overlayPanel> -->
<ion-content [fullscreen]="true">
  <div class="w-6 bg-transparent absolute menu-buttons">
    <ion-text color="dark" class="text-center">
      <h1>Menu</h1>
    </ion-text>
    <ion-button expand="block" size="large" (click)="openAplicationData()">
      Acerca de la aplicación (1)
    </ion-button>
    <ion-button expand="block" size="large" (click)="openAplicationValues()">
      Valores de trabajo (2)
    </ion-button>
    <ion-button expand="block" size="large" (click)="syncPrimaryTables()">
      Sincronizar datos primarios
    </ion-button>
    <ion-button expand="block" size="large" (click)="generalSettings()">
      Configuraciones generales
    </ion-button>
  </div>
</ion-content>

<ion-loading #loader [message]="loading_message" spinner="circles"></ion-loading>
